{#
/**
 * @file
 * Default theme implementation of an Instagram image with link.
 *
 * Available variables:
 * - data: The array returned from the Instagram image and path request.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('instagram_formatter/instagram') }}

{% spaceless %}
  {% if data %}
    <div class="instagram-wapper">
      <div class="profile text-center">
        <a href="{{ data.profile_url }}">
          <div class="instagram-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47">
              <path fill="#484A56" fill-rule="evenodd"
                    d="M23.502 0c-6.382 0-7.183.028-9.69.142-2.502.115-4.21.51-5.703 1.092-1.546.6-2.857 1.403-4.163 2.71C2.638 5.25 1.836 6.56 1.233 8.106.651 9.601.254 11.309.141 13.81.03 16.316 0 17.118 0 23.5s.028 7.18.142 9.687c.115 2.502.511 4.21 1.092 5.704.6 1.546 1.403 2.857 2.71 4.163 1.306 1.307 2.617 2.112 4.162 2.712 1.495.581 3.203.977 5.704 1.092 2.507.114 3.307.142 9.69.142 6.382 0 7.18-.028 9.687-.142 2.502-.115 4.212-.51 5.707-1.092 1.545-.6 2.854-1.405 4.16-2.712 1.307-1.306 2.11-2.617 2.712-4.162.578-1.495.975-3.203 1.092-5.704.113-2.507.142-3.306.142-9.688 0-6.382-.03-7.183-.142-9.69-.117-2.502-.514-4.21-1.092-5.703-.602-1.546-1.405-2.857-2.712-4.163-1.307-1.308-2.614-2.11-4.162-2.71C37.394.653 35.686.257 33.184.142 30.677.028 29.879 0 23.494 0h.008zm-2.108 4.235h2.108c6.275 0 7.018.022 9.496.135 2.292.105 3.535.488 4.363.81 1.097.425 1.879.934 2.701 1.757.823.822 1.332 1.606 1.759 2.702.321.828.705 2.071.809 4.363.113 2.477.137 3.221.137 9.493 0 6.271-.024 7.015-.137 9.493-.105 2.29-.488 3.534-.81 4.362-.425 1.096-.935 1.877-1.758 2.7-.822.822-1.603 1.331-2.7 1.757-.828.323-2.072.705-4.364.81-2.477.112-3.221.137-9.496.137s-7.019-.025-9.496-.137c-2.291-.106-3.535-.489-4.364-.81-1.096-.426-1.88-.936-2.702-1.758-.823-.823-1.332-1.604-1.759-2.701-.321-.828-.705-2.071-.809-4.362-.113-2.478-.135-3.222-.135-9.497 0-6.276.022-7.016.135-9.493.105-2.292.488-3.535.81-4.363.425-1.097.935-1.88 1.758-2.703.822-.822 1.606-1.332 2.702-1.759.829-.323 2.073-.705 4.364-.81 2.168-.098 3.008-.127 7.388-.132v.006zm14.652 3.902a2.82 2.82 0 1 0 0 5.641 2.82 2.82 0 0 0 0-5.642zm-12.544 3.295c-6.665 0-12.068 5.403-12.068 12.068s5.403 12.066 12.068 12.066S35.57 30.165 35.57 23.5c0-6.665-5.403-12.068-12.067-12.068zm0 4.235a7.833 7.833 0 1 1 0 15.666 7.833 7.833 0 0 1 0-15.666z"/>
            </svg>
          </div>
          <h2>{{ data.profile }}</h2>
        </a>
      </div>
      <div class="posts-wrapper">
        <div class="row">
          {% for item in data.posts %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
              <div class="post-wrapper">
                <a class="post" target="_blank" data-instagram-rel="1" href="{{ item.path }}">
                  <img class="post-image" alt="instagram" src="{{ item.image }}">
                  <div class="post-caption">
                    <div class="caption">{{ item.caption }}</div>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endspaceless %}
